.container {
  display: flex;
  color: white;
  border-bottom: 3px double var(--baseLtBlue);
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.headshot {
  border: 2px solid var(--baseLtBlue);
  border-radius: 30%;
  height: 240px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}