.container {
  display: flex;
  color: white;
  border-bottom: 3px double var(--about);
  box-shadow: 0 1px 4px var(--about);
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 100%;
}

.headshot {
  display: flex;
  border: 2px solid var(--about);
  box-shadow: 2px 2px 4px var(--about);
  border-radius: 30% 20%;
  width: 40% auto;
  max-height: 500px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: start;
}

.name {
  display: flex;
  font-size: 3.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--about);
  text-shadow: 1px 1px 2px var(--projects);
  margin: 1rem 0 0 0;
  padding: 0;
}

.bio {
  display: flex;
  font-size: 2.5rem;
  color: var(--projects);
  text-shadow: 1px 1px 2px var(--about);
  margin: 0 0 1.5rem 1rem;
}

.linkList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  margin: 10px;
}