.container {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--contact);
  border-bottom: 3px double var(--contact);
  box-shadow: 0 1px 4px var(--contact);
}

.heading {
  display: flex;
  color: white;
}