.container {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--nav);
  box-shadow: 0 1px 4px var(--nav);
  background-color: #020214;
  color: white;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}

.links {
  display: flex;
  margin: 20px;
}