.container {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--projects);
  border-bottom: 3px double var(--projects);
  box-shadow: 0 1px 4px var(--projects);
}

.heading {
  display: flex;
  color: white;
}