.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--projects);
  border-bottom: 3px double var(--projects);
  box-shadow: 0 1px 4px var(--projects);
  width: 100%;
}

.heading {
  display: flex;
  color: white;
  margin: 50px 0 40px 0;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #cacaca;
  color: black;
  border: 2px solid var(--projects);
  border-radius: 20px;
  box-shadow: 2px 4px 10px var(--about);
  width: 45%;
  height: fit-content;
  margin: 0 10px 20px 10px;
  /* padding: 0 0 10px 0; */
}

.uiImage {
  display: flex;
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #757575;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #757575;
  margin: 1rem;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.gitButton {
  display: flex;
  background-color: var(--projects);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem;
  padding: 6px 16px;
  box-shadow: 1px 1px 4px var(--about);
}

.icon {
  margin: 0 10px;
}

@media only screen and (max-width: 480px ) {
  .projectCard {
    width: 85%;
  }
}