.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #cacaca;
  color: black;
  border: 2px solid var(--projects);
  border-radius: 20px;
  box-shadow: 2px 4px 10px var(--about);
  width: 45%;
  height: fit-content;
  margin: 0 10px 20px 10px;
}

.uiImage {
  display: flex;
  max-width: 96%;
  max-height: 300px;
  border: 1px solid #757575;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #757575;
  margin: 1rem;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: 100%;
}

.projectTitle {
  display: flex;
  padding: 0;
  margin: 1rem 0 0.5rem 0;
  font-size: 1.8rem;
}

.skillList {
  display: flex;
  width: 96%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.description {
  display: flex;
  margin: 1rem 0.5rem 1.2rem 0.5rem;
}

.linkButton {
  display: flex;
  background-color: var(--projects);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 90%;
  margin: 0 0 1rem 0;
  padding: 6px 16px;
  box-shadow: 1px 1px 4px var(--about);
}

.icon {
  margin: 0 10px;
}

@media only screen and (max-width: 480px ) {
  .projectCard {
    width: 85%;
  }
}