.heading {
  display: flex;
  color: white;
  margin: 4rem 0 0 0;
}

.testimonialList {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 0;
  justify-content: space-around;
}

.testimonial {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: fit-content;
  max-width: 45%;
}

.quote {
  display: flex;
  background-color: white;
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.4;
  border: 3px solid var(--skills);
  border-radius: 4px 20px;
  margin: 10px;
  padding: 0.7rem 1rem 1rem 1rem;
  box-shadow: 2px 4px 4px var(--contact);
}

.byline {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-end;
  margin-right: 2%;
}

p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px ) {
  .testimonialList {
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
 
  .testimonial {
   max-width: 90%;
  }
 }