.App {
  text-align: center;
}

section {
  width: 100%;
  min-width: 320px;
  padding: 10px 0 10px 0;
  margin-bottom: 4rem;
}

a:link, a:visited {
  color: var(--about);
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}