:root {
  --nav: #fdc5f5;
  --projects: #f7aef8;
  --skills: #b388eb;
  --contact: #8093f1;
  --about: #72ddf7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #020214;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}
